/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables */
$font-family-primary: "Merriweather", serif;
$color-primary: #6d7175;
$color-secondary: #ec1a4b;
$color-hover: #0065cc;
$color-disabled: rgba(109, 113, 117, 0.5);
$color-tooltip-bg: #333333;
$btn-primary-bg: #ff23b7;

/* Mixins */
@mixin transition($props, $duration: 0.3s, $ease: ease) {
  transition: $props $duration $ease;
}

.shopxpert-admin-wrapper {
  font-family: $font-family-primary;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.715;
  position: relative;
  visibility: visible;
  color: $color-primary;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-primary;
    line-height: 1.2;
    margin-top: 0;
    background-image: linear-gradient(to right, #f112e6, #0126fc);
    -webkit-background-clip: text;
    color: transparent;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    line-height: inherit;
    margin: 0;
  }

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a,
  button {
    cursor: pointer;
    text-decoration: none;
    @include transition(all);
  }

  *:focus {
    outline: none;
    box-shadow: none;
  }

  button,
  input[type="submit"] {
    cursor: pointer;

    &[disabled="disabled"] {
      cursor: not-allowed;
    }
  }

  img {
    max-width: 100%;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  input:-moz-placeholder,
  textarea:-moz-placeholder,
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    opacity: 0.5;
  }

  ul {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  hr {
    border-top-width: 2px;
  }
}

/* Option Disable */
[data-shopxpert="disabled"] {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &::before {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    background-color: transparent;
  }
}

/* Tooltip */
[data-shopxpert-tooltip] {
  position: relative;

  &:hover::before,
  &:hover::after {
    visibility: visible;
    opacity: 1;
  }

  &::before,
  &::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    visibility: hidden;
    @include transition(all);
    opacity: 0;
  }

  &::before {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 3px;
    padding: 3px 5px;
    content: attr(data-shopxpert-tooltip);
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    border-radius: 3px;
    background-color: $color-tooltip-bg;
  }

  &::after {
    width: 5px;
    height: 5px;
    content: "";
    transform: translateX(-50%) rotate(45deg);
    background-color: $color-tooltip-bg;
  }
}

/* Help Tip */
.-help-tip {
  color: #666;
  display: inline-block;
  position: relative;
}

.shopxpert-help-text {
  position: absolute;
  max-width: 200px;
  width: max-content;
  opacity: 0;
  padding: 10px;
  background-color: $color-tooltip-bg;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  z-index: 1;
  @include transition(all, 0.15s, ease-in-out);
  border-radius: 3px;
  color: #fff;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.375rem solid transparent;
    border-top-color: $color-tooltip-bg;
  }
}

.shopxpert-help-tip {
  &:hover span.shopxpert-help-text {
    opacity: 1;
    visibility: visible;
  }

  .shopxpert-helptip-top,
  .shopxpert-helptip-bottom {
    left: 50%;
    transform: translate(-50%, 5px);
  }

  .shopxpert-helptip-top {
    bottom: calc(100% + 10px);
  }

  .shopxpert-helptip-bottom {
    top: 100%;
  }
}

/* Button Styles */
.shopxpert-admin-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  display: inline-flex;
  justify-content: center;
  padding: 10px 30px;
  text-transform: capitalize;
  color: $color-primary;
  border: 1px solid #e7e7e7;
  background-color: #fff;

  &.shopxpert-admin-btn-primary {
    color: #fff;
    border-color: $btn-primary-bg;
    background-color: $btn-primary-bg;
  }

  &.hover-effect-1:not(.activated, [disabled="disabled"]):hover {
    border-color: $color-hover;
    background-color: $color-hover;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  &[disabled="disabled"] {
    cursor: not-allowed;
    color: $color-disabled;
    background-color: #fff;
  }
}

/* Add additional styles following the SCSS structure. */


///NF
.shopxpert_display {
  img {
    width: 100%;
    margin-bottom: 5px;
  }
}

.shopxpert-remove {
  margin-left: 10px !important;
}

// Dimensions Field
.shopxpert_dimensions {
  margin: 0;

  li {
    float: left;
    width: 75px;
    margin: 0;

    input {
      display: block;
      text-align: center;
      width: 100%;
      border-color: #d5dadf;
      height: 30px;
      border-left: none;
      border-radius: 0;
      padding: 4px 4px 4px 0;

      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #007cba !important;
      }
    }

    &:first-child input {
      border-left: 1px solid #d5dadf;
      border-radius: 3px 0 0 3px;
    }

    &:last-child input {
      border-right: 1px solid #d5dadf;
      border-radius: 0 3px 3px 0;
    }

    label {
      display: block !important;
      text-align: center;
      font-size: 13px;
      text-transform: uppercase;
      margin-top: 3px;
    }
  }
}

// Repeater
.shopxpert-reapeater-fields-area {
  text-align: left;
}

.shopxpert-admin-option.shopxpert-repeater-heading:not(.shopxpert-condition-on) {
  display: block !important;
  text-align: left;
  padding-bottom: 10px !important;
}

.shopxpert-option-repeater-item {
  margin-bottom: 10px;

  &:not(.shopxpert_active_repeater) .shopxpert-option-repeater-fields,
  &.shopxpert-repeater-hidden {
    display: none;
  }

  & + .shopxpert-option-repeater-item {
    margin-top: 10px;
  }

  .shopxpert-option-repeater-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d5dadf;
    cursor: pointer;
    background-color: #ffffff;

    .shopxpert-option-repeater-item-title {
      margin-left: 10px;
    }

    .shopxpert-option-repeater-item-remove {
      width: 40px;
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #d5dadf;

      &:hover {
        color: rgb(230, 23, 23);
      }
    }
  }

  .shopxpert-option-repeater-fields {
    border: 1px solid #d5dadf;
    padding: 10px;
    border-top: 0;
    background-color: #ffffff;
  }
}

button.shopxpert-repeater-item-add,
.shopxpert-repeater-custom-action {
  padding: 5px 15px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 3px;
  transition: 0.4s;

  &:hover {
    border-color: #0065cc;
    background-color: #0065cc;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
}

.wp-core-ui .button-primary.shopxpert-repeater-custom-action {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #ff23b7;
  border-color: #ff23b7;
  padding: 1px 10px;
  box-shadow: none;
}

// Button Field Type
.shopxpert-admin-button-type {
  a {
    text-decoration: none;

    &.shopxpert-admin-btn {
      color: #fff;
    }
  }
}

// Icon List
@font-face {
  font-family: "shopxpert-admin";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("../fonts/shopxpert-admin.ttf?55zl88") format("truetype"),
    url("../fonts/shopxpert-admin.woff?55zl88") format("woff"),
    url("../fonts/shopxpert-admin.svg?55zl88#shopxpert-admin") format("svg");
}

.wli {
  font-family: "shopxpert-admin";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-feature-list:before {
    content: "\e904";
  }

  &-info:before {
    content: "\e908";
  }

  &-bell:before {
    content: "\e900";
  }

  // Other icons
}

// Admin Main Navigation
.shopxpert-admin-main-nav {
  overflow: hidden;
  border-bottom: 2px solid #ff23b7;

  &-ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: -8px;
    padding: 0;
    list-style: none;

    @media only screen and (max-width: 767px) {
      margin: -1px;
    }
  }

  &-li {
    display: flex;
    margin: 0 8px 0 0;

    @media only screen and (max-width: 767px) {
      margin: 0;
      border: 1px solid transparent;
    }
  }

  &-btn {
    font-size: 14px;
    line-height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 22px;
    transition: all 0.15s ease 0s !important;
    white-space: nowrap;
    color: #ff23b7;
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;

    svg {
      position: absolute;
      bottom: 0;
      width: 8px;
      height: 8px;
      transition: all 0.15s ease 0s;
      opacity: 0;

      path {
        fill: #ff23b7;
      }
    }

    i {
      font-size: 16px;
      line-height: 1;
      display: block;
      margin-right: 8px;
      transition: all 0.15s ease 0s;
      opacity: 0.75;

      &.dashicons {
        font-size: 18px;
        margin-right: 5px;
      }
    }

    &.wlactive,
    &:hover {
      color: #ffffff;
      background-color: #ff23b7;

      i {
        opacity: 1;
      }

      svg {
        opacity: 1;
      }
    }
  }
}

// Nested Tab
#shopxpert_gutenberg_tabs {
  .shopxpert-admin-main-tab-pane-inner {
    padding-top: 10px;
  }
}

.shopxpert-nested-tabs-area {
  margin-bottom: 30px;
}
//NF////

.shopxpert-admin-sidebar {
  width: 375px;
  margin-bottom: 30px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  min-height: 100%;
  align-self: flex-start;
}
@media only screen and (min-width: 1200px) and (max-width: 1549px) {
  .shopxpert-admin-sidebar {
    width: 320px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shopxpert-admin-sidebar {
    width: 280px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .shopxpert-admin-sidebar {
    width: 100%;
  }
}

.shopxpert-admin-header { 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}
.shopxpert-admin-header-content {
  /* margin-bottom: 15px; */
  padding-right: 30px;
}
.shopxpert-admin-header-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 23px !important;
  margin-bottom: 2px;
  /* color: #202223; */
}
.shopxpert-admin-header-text {
  font-size: 14px;
}
.shopxpert-admin-header-actions {
  display: flex;
  align-self: center;
  /* margin-bottom: 15px; */
}
/* Enabled button */
.shopxpert-admin-header .shopxpert-admin-btn.enable {
margin-right: 16px; 
color: #000;   
background-image:linear-gradient(to right, #b5ffa8, #00e705);;
/* -webkit-background-clip: text;   */
border: 2px solid transparent; 
border-image: linear-gradient(to right, #26D0CE, #1A2980) 1; /* Initial gradient border */
padding: 10px 20px;
font-weight: bold;
text-transform: uppercase;
cursor: pointer;
transition: background-image 0.3s ease, border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.shopxpert-admin-header .shopxpert-admin-btn.enable:hover {
  color: transparent;  
  background-image: linear-gradient(to right, #fc1572, #7587f2); 
    -webkit-background-clip: text;     
  border-color: transparent;   
  background-color: #0065cc;  /* New background color on hover */
}


/* Disabled button */
.shopxpert-admin-header .shopxpert-admin-btn.disable { 
color: #000;   
background-image: linear-gradient(to right, #ef3b3b, #d6929d);;
/* -webkit-background-clip: text;   */
border: 2px solid transparent;   
border-image: linear-gradient(to right, #26D0CE, #1A2980) 1;  
padding: 10px 20px;
font-weight: bold;
text-transform: uppercase;
cursor: pointer;
transition: background-image 0.3s ease, border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover state for disabled button (no effect, stays disabled) */
.shopxpert-admin-header .shopxpert-admin-btn.disable:hover {
  color: transparent;  
background-image: linear-gradient(to right, #d02626, #f44242); 
-webkit-background-clip: text;   
border-color: transparent;  
background-color: #0065cc;  
}

/* General hover effect for all buttons */
.shopxpert-admin-header .shopxpert-admin-btn:hover {
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}


.shopxpert-admin-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  padding: 20px 0;
  border-top: 1px solid #E7E7E7;
}
.shopxpert-admin-footer button{
  margin: 0;
}
#shopxpert_others_tabs .shopxpert-admin-footer{
  margin-top: 0;
}
.shopxpert-admin-sticky {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}

.shopxpert-admin-switch-blocks {
  display: flex;
  flex-wrap: wrap; 
}
.shopxpert-admin-switch-block {
  background-color: #f5f5f500;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 0 15px 20px;
  padding: 15px 20px;
  border: 1px solid transparent;   
  border-image: linear-gradient(to right, #ff3f3f, #0a61ff) 1;
  box-shadow: 3px 3px 12px 0px rgb(241 39 140 / 18%);
 
}


/* NF Tushar */
/* @media only screen and (min-width: 1200px) and (max-width: 1549px), only screen and (min-width: 768px) and (max-width: 991px) {
  .shopxpert-admin-switch-block {
    width: calc(50% - 30px);
  }
} */
 
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (max-width: 767px) {
  .shopxpert-admin-switch-block {
    width: calc(100% - 30px);
  }
}
.shopxpert-admin-switch-block-content {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% - 85px);
  margin-bottom: -5px;
}
.shopxpert-admin-switch-block-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px !important;
  display: flex;
  align-items: center;
  margin-right: 7px;
  margin-bottom: 5px;
  color: #202223;
}
.shopxpert-admin-switch-block-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.shopxpert-admin-switch-block-info > a {
  line-height: 1;
  display: flex;
  padding: 3px;
  cursor: pointer;
  color: #6D7175;
}
.shopxpert-admin-switch-block-info > a + a {
  margin-left: 4px;
}
.shopxpert-admin-switch-block-info > a i {
  font-size: 14px;
}
.shopxpert-admin-switch-block-badge {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  align-self: center;
  margin-left: 12px;
  padding: 3px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #FF0000;
  border-radius: 60px;
  background: rgba(255, 0, 0, 0.1);
}
.shopxpert-admin-switch-block-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 85px;
}
.shopxpert-admin-switch-block-setting {
  display: flex;
  padding: 0;
  color: #ff23b7;
  border: none;
  background-color: transparent;
}
.shopxpert-admin-switch-block-setting i {
  font-size: 14px;
}
.shopxpert-admin-switch-block-setting + .shopxpert-admin-switch {
  margin-left: 15px;
}

.shopxpert-admin-banner {
  overflow: hidden;
  border-radius: 10px;
}
.shopxpert-admin-banner:not(:last-child) {
  margin-bottom: 65px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .shopxpert-admin-banner:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-banner:not(:last-child) {
    margin-bottom: 30px;
  }
}
.shopxpert-admin-banner img {
  display: block;
  width: 100%;
}

.shopxpert-admin-subscribe {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 65px;
  padding: 70px 180px;
  border-radius: 10px;
  background-image: linear-gradient(272.65deg, #9BF4FF 0%, #ff23b7 100%);
}
@media only screen and (min-width: 1200px) and (max-width: 1549px), only screen and (min-width: 768px) and (max-width: 991px) {
  .shopxpert-admin-subscribe {
    margin-top: 40px;
    padding: 60px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shopxpert-admin-subscribe {
    flex-direction: column;
    margin-top: 40px;
    padding: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .shopxpert-admin-subscribe {
    flex-direction: column;
    margin-top: 40px;
    padding: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-subscribe {
    margin-top: 30px;
    padding: 30px;
  }
}
.shopxpert-admin-subscribe::before, .shopxpert-admin-subscribe::after {
  position: absolute;
  z-index: -1;
  width: 95px;
  height: 95px;
  content: "";
  border: 21px solid rgba(0, 126, 255, 0.1);
}
.shopxpert-admin-subscribe::before {
  bottom: 0;
  left: 0;
  border-color: rgba(152, 242, 255, 0.1);
  border-top-right-radius: 100%;
}
.shopxpert-admin-subscribe::after {
  top: 0;
  right: 0;
  border-color: rgba(51, 108, 255, 0.1);
  border-bottom-left-radius: 100%;
}
.shopxpert-admin-subscribe-content {
  display: block;
  padding-right: 30px;
}
.shopxpert-admin-subscribe-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #FFFFFF;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .shopxpert-admin-subscribe-title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-subscribe-title {
    font-size: 24px;
  }
}
.shopxpert-admin-subscribe-text {
  font-size: 18px;
  max-width: 410px;
  color: #FFFFFF;
}
@media only screen and (min-width: 1200px) and (max-width: 1549px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .shopxpert-admin-subscribe-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-subscribe-text {
    font-size: 14px;
  }
}
.shopxpert-admin-subscribe .shopxpert-admin-btn {
  align-self: center;
  padding: 10px 40px;
  box-shadow: 3px 3px 0 0 #0065cc;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (max-width: 767px) {
  .shopxpert-admin-subscribe .shopxpert-admin-btn {
    align-self: flex-start;
    margin-top: 20px;
  }
}
.shopxpert-admin-subscribe .shopxpert-admin-btn:hover {
  box-shadow: 5px 5px 0 0 #0065cc;
  color: #FFFFFF;
}

.shopxpert-admin-extensions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.shopxpert-admin-extension {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: calc(50% - 30px);
  margin: 0 15px 30px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 2px 40px rgba(175, 175, 175, 0.5);
}
.shopxpert-extension-col-3 .shopxpert-admin-extension{
  width: calc(33.333% - 30px);
}
.shopxpert-admin-main-tab-pane-inner .shopxpert-extension-col-3 .shopxpert-admin-extension{
  width: calc(50% - 30px);
}
.shopxpert-admin-main-tab-pane-inner .wrap{
  margin: 0;
}
.shopxpert-admin-main-tab-pane-inner .wrap > h2{
  display: none;
}
.shopxpert-admin-main-tab-pane-inner .extension-admin-tab-area{
  margin-top: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .shopxpert-admin-extension {
    width: calc(100% - 30px);
  }
}
.shopxpert-admin-extension-top {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 25px;
}
@media only screen and (max-width: 479px) {
  .shopxpert-admin-extension-top {
    flex-direction: column;
  }
}
.shopxpert-admin-extension-image {
  overflow: hidden;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.shopxpert-admin-extension-content {
  width: calc(100% - 110px);
  padding-left: 25px;
}
@media only screen and (max-width: 479px) {
  .shopxpert-admin-extension-content {
    width: 100%;
    margin-top: 20px;
    padding-left: 0;
  }
}
.shopxpert-admin-extension-title {
  font-size: 18px;
  line-height: 28px !important;
  margin-bottom: 13px;
  margin-top: 0;
  color: #202223;
}
.shopxpert-admin-extension-text {
  font-size: 14px;
  max-width: 315px;
}
.shopxpert-admin-extension-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: auto;
  padding: 20px 25px 20px;
  background-color: #F4F6FC;
}
@media only screen and (max-width: 479px) {
  .shopxpert-admin-extension-bottom {
    align-items: flex-start;
    flex-direction: column;
  }
}
.shopxpert-admin-extension-info {
  font-size: 14px;
  width: calc(100% - 200px);
  margin: 0;
}
@media only screen and (max-width: 479px) {
  .shopxpert-admin-extension-info {
    width: 100%;
  }
}
.shopxpert-admin-extension .button {
  background: #ff23b7 !important;
  border-color: #ff23b7 !important;
  padding: 5px 40px;
  color: #FFFFFF !important;
  transition: all 0.3s ease 0s;
}
.shopxpert-admin-extension .button::before{
  color:#FFFFFF;
}
.shopxpert-admin-extension .hover-effect-1:not(.disabled):hover {
  border-color: #0065cc !important;
  background-color: #0065cc !important;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1) !important;
}
.shopxpert-admin-extension-info i {
  margin-right: 10px;
}
.shopxpert-admin-extension-info a {
  color: #ff23b7;
}
.shopxpert-admin-extension-info a:hover {
  text-decoration: underline;
}
.shopxpert-admin-btn {
  /* margin-bottom: 15px; */
  padding: 7px 40px;
  cursor: pointer;
}
.shopxpert-admin-btn.activated, .shopxpert-admin-extension .button.disabled {
  cursor: not-allowed;
  color: #6D7175 !important;
  border-color: #FFFFFF !important;
  background-color: #FFFFFF !important;
}

.shopxpert-admin-infoboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -40px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .shopxpert-admin-infoboxes {
    margin-bottom: -30px;
  }
}
.shopxpert-admin-infobox {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 20px);
  margin-bottom: 40px;
  padding: 50px 40px;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .shopxpert-admin-infobox {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .shopxpert-admin-infobox {
    padding: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-infobox {
    margin-bottom: 20px;
    padding: 20px;
  }
}
.shopxpert-admin-infobox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #FFFFFF;
  border-radius: 5px;
  background-image: linear-gradient(to right, #f112e6, #f98ed0);
  box-shadow: 5px 5px 0 0 #020202;
}
.shopxpert-admin-infobox-icon i {
  font-size: 24px;
}
.shopxpert-admin-infobox-content {
  width: calc(100% - 60px);
  padding-left: 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1549px), only screen and (max-width: 575px) {
  .shopxpert-admin-infobox-content {
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
  }
}
.shopxpert-admin-infobox-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #2C406B;
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-infobox-title {
    font-size: 20px;
  }
}
.shopxpert-admin-infobox-text {
  max-width: 365px;
  margin-bottom: 22px;
  color: #546EA1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.715;
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-infobox-text {
    font-size: 14px;
  }
}
.shopxpert-admin-infobox .shopxpert-admin-btn {
  width: 200px;
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-infobox .shopxpert-admin-btn {
    width: auto;
  }
}
.shopxpert-admin-infobox:hover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}
.shopxpert-admin-infobox:hover .shopxpert-admin-btn {
  color: #FFFFFF;
  background-color: #ff23b7;
}

.shopxpert-admin-options {
  display: flex;
  flex-direction: column;
  max-width: 935px;
}

.shopxpert-admin-option {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-option {
    padding: 20px 0;
  }
}
.shopxpert-admin-option + .shopxpert-admin-option {
  border-top: 1px solid #EAEAEA;
}
.shopxpert-admin-option:first-child {
  padding-top: 0;
}
.shopxpert-admin-option:last-child {
  padding-bottom: 0;
}
.shopxpert-admin-option-content {
  width: 60%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (max-width: 767px) {
  .shopxpert-admin-option-content {
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-option-content {
    width: 100%;
    margin-bottom: 15px;
  }
}
.shopxpert-admin-option-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 23px !important;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  color: #202223;
}
.shopxpert-admin-option-title .badge-pro {
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  width: 42px;
  height: 23px;
  margin-left: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FF5353;
  border-radius: 60px;
  background: rgba(255, 83, 83, 0.3);
}
.shopxpert-admin-option-text {
  font-size: 14px;
}
.shopxpert-admin-option-action {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  width: 40%;
  padding-left: 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (max-width: 767px) {
  .shopxpert-admin-option-action {
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-option-action {
    width: 100%;
    padding-left: 0;
  }
}
#shopxpert_elements_tabs .shopxpert-admin-header, .shopxpert-admin-header-two{
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.shopxpert-admin-option-heading:not(.shopxpert_heading_style_two) {
  padding: 7px 20px;
  border-radius: 5px;
  background-color: aliceblue; 
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #ff3f3f, #0a61ff) 1;
  box-shadow: 3px 3px 12px 0px rgb(241 39 140 / 18%);
}
.shopxpert_heading_style_two{
  width: 100%;
  padding: 0 20px;
  margin: 30px 0 10px 0;
}
.shopxpert_heading_style_two .shopxpert-admin-option-heading-title{
  margin-bottom: 10px;
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-option-heading:not(.shopxpert_heading_style_two) {
    padding: px 20px;
  }
}
.shopxpert-admin-option-heading-title {
  font-size: 18px;
  line-height: 28px !important;
  margin: 0;
  color: #202223;
}
@media only screen and (max-width: 575px) {
  .shopxpert-admin-option-heading-title {
    font-size: 16px;
  }
}

.shopxpert-admin-popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.shopxpert-admin-popup.open {
  visibility: visible;
  opacity: 1;
}
.shopxpert-admin-popup.open .shopxpert-admin-popup-inner {
  margin-top: 0;
}
.shopxpert-admin-popup-inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 630px;
  margin-top: 50px;
  padding: 55px 90px;
  transition: all 0.3s ease 0s;
  text-align: center;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 0 50px rgba(92, 92, 92, 0.2);
}
.shopxpert-admin-popup-inner .shopxpert-admin-btn:not(.activated,[disabled=disabled]):hover{
  color: #ffffff;
}
.shopxpert-admin-popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #324355;
  border: none;
  /* border-radius: 50%; */

  border: 1px solid transparent;
  border-image: linear-gradient(to right, #ff3f3f, #0a61ff) 1;
  box-shadow: 3px 3px 12px 0px rgb(241 39 140 / 18%);
  background-color: rgba(40, 47, 58, 0.1);
  cursor: pointer;
}
.shopxpert-admin-popup-close:hover {
  color: #FFFFFF;
  background-color: #ff23b7;
}
.shopxpert-admin-popup-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.shopxpert-admin-popup-title {
  font-size: 48px;
  line-height: 1 !important;
  margin-bottom: 15px;
  color: transparent;
  text-shadow: 3px 3px 0 #ff23b7;
  -webkit-text-stroke: 2px rgba(0, 126, 255, 0.2);
}
.shopxpert-admin-popup-text {
  font-size: 14px;
  margin-bottom: 22px;
}
.shopxpert-admin-popup .shopxpert-admin-btn {
  padding: 10px 35px;
}
.shopxpert-admin-popup .shopxpert-admin-btn:not(.activated,[disabled=disabled]):hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Sidebar Pro-Banner */
.shopxpertmo-banner {
  margin-bottom: 30px;
  padding-top: 47px;
}
.shopxpertmo-banner a{
  display: block;
  line-height: 1;
}
.shopxpert-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.shopxpert-banner-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.shopxpert-banner-logo img {
  width: 90px;
  height: auto;
}
.shopxpert-banner-summary {
  font-size: 14px;
  margin-bottom: 35px;
  text-align: center;
}
.shopxpert-banner-options {
  font-size: 14px;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  text-align: left;
}
.shopxpert-banner-options li {
  padding-left: 30px;
  background-image: url(../images/icons/check.png);
  background-repeat: no-repeat;
  background-position: left 8px;
}
.shopxpert-banner-options li + li {
  margin-top: 15px;
}
.shopxpert-banner-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding: 5px 5px 5px 20px;
  color: #FFFFFF;
  border-radius: 100px;
  background-color: #ff23b7;
}
.shopxpert-banner-btn .icon {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  transition: all 0.3s ease 0s;
  color: #ff23b7;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.shopxpert-banner-btn:hover {
  border-color: #0065cc;
  background-color: #0065cc;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

.shopxpert-rating,.shopxpert-rating-trustpilot {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 1200px) and (max-width: 1549px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .shopxpert-rating {
    margin-top: 30px;
  }
}
.shopxpert-rating-icon {
  align-self: center;
  width: 52px;
}
.shopxpert-rating-intro {
  width: calc(100% - 52px);
  padding-left: 20px;
}
.shopxpert-rating-intro p {
  font-size: 14px;
}
.shopxpert-rating-intro p a {
  color: #ff23b7;
}
.shopxpert-rating-intro p a:hover {
  text-decoration: underline;
}
.shopxpert-rating-trustpilot {
  display: block;
  text-align: center;
}
.shopxpert-rating-trustpilot a{
  display: block;
  line-height: 1;
}

.shopxpert-admin-others-options{
  padding: 30px 0;
  border-top: 1px solid #ddd;
  margin-top: 30px;
}
.shopxpert-admin-others-options .shopxpert-admin-option:last-child{
  padding-bottom: 0;
}
//NF
/* Setting Page Pro notice */
.hastech-admin-notice {
  &.notice-custom {
    position: relative;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-top: 3px solid #f56640;

    p {
      margin: 0;
    }

    .notice-dismiss {
      padding: 0;
      top: 7px;
      right: 7px;
    }
  }
}

/* Multiple Select Filed Select2 */
.select2 {
  + .select2-container--open {
    z-index: 999;
  }

  &-container {
    position: relative;
    display: flex;
    width: 100% !important;
  }

  &-hidden-accessible {
    position: absolute;
    visibility: visible;
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    opacity: 0;
  }

  .selection {
    width: 100%;
  }

  &-selection {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 9px 12px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    background-color: #FFFFFF;

    &--single {
      cursor: pointer;
    }

    &--multiple {
      padding: 9px 40px 4px 12px;
      background-image: url(../images/icons/caret-down.png);
      background-size: auto;
      background-repeat: no-repeat;
      background-position: right 15px center;
      background-color: #ffffff;
      cursor: pointer;

      .select2-selection__rendered {
        min-height: 25px;
        width: 100%;
      }
    }

    .select2-selection__rendered {
      font-size: 12px;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .select2-selection__choice {
      font-size: 12px;
      display: flex;
      height: auto;
      margin-bottom: 5px;
      color: #616468;
      background-color: #dae0e5;
      position: relative;
      padding-left: 20px;
      width: 100%;

      &__remove {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        color: #FFFFFF;
        border: none;
        background-color: #FF5353;
        cursor: pointer;
      }

      &__display {
        min-height: 20px;
        padding: 2px 5px;
        text-transform: capitalize;
      }
    }

    .select2-search {
      display: flex;

      &--inline {
        opacity: 0;
        visibility: hidden;
      }

      &__field {
        font-size: 12px;
        font-weight: 400;
        max-width: 100%;
        height: 18px;
        margin-top: 3px;
        padding: 0;
        resize: none;
        border: none;

        &::-webkit-input-placeholder {
          opacity: 1 !important;
        }

        &:-moz-placeholder {
          opacity: 1 !important;
        }

        &::-moz-placeholder {
          opacity: 1 !important;
        }

        &:-ms-input-placeholder {
          opacity: 1 !important;
        }
      }
    }

    &-dropdown {
      padding: 4px;
      border: 1px solid #DCDCDC;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

      &--above {
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
      }

      .select2-results {
        padding: 0;

        &__options {
          margin: 0;
          padding: 0;
          list-style: none;
          max-height: 300px;
          overflow: auto;
        }

        &__option {
          font-size: 12px;
          line-height: 16px;
          padding: 10px;
          cursor: pointer;
          text-transform: capitalize;
          border-radius: 3px;

          + li {
            margin-top: 3px;
          }

          &:hover:not(.select2-results__option--selected) {
            background-color: #e9ecef;
          }

          &--selected {
            color: #FFFFFF;
            background-color: #ff23b7;
          }
        }
      }
    }
  }
}

/* Extension Tabs */
.extension-admin-tab-area.wp-filter {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.shopxpert-admin-tabs.filter-links {
  display: flex;
  padding: 7px 10px;
  list-style: none;
  border: 2px solid #EAEFF3;
  border-radius: 5px;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);

  li {
    position: relative;
    z-index: 1;
    border: none;

    &::before, &::after {
      position: absolute;
      z-index: -2;
      top: 50%;
      width: 5px;
      height: 5px;
      margin-top: -2.5px;
      content: "";
      transition: all 0.3s ease 0s;
      opacity: 0.25;
      border-radius: 10px;
      background-color: #ff23b7;
    }

    &::before {
      left: -2.5px;
    }

    &::after {
      right: -2.5px;
    }

    &:first-child::before {
      display: none;
    }

    &:last-child::after {
      display: none;
    }

    &.wlactive {
      z-index: 2;

      &::before, &::after {
        z-index: -1;
        opacity: 1;
        background-color: #FFFFFF;
      }
    }

    a {
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      display: flex;
      padding: 9px 20px;
      text-transform: capitalize;
      color: #ff23b7;
      border-radius: 5px;
      margin: 0;
      border: none;

      &.wlactive {
        color: #FFFFFF;
        background-color: #ff23b7;

        &:hover,
        &:focus {
          color: #FFFFFF;
          background-color: #ff23b7;
        }
      }
    }
  }
}

/* Feature Edit PopUp */
.shopxpert-Feature-setting-popup-content {
  padding: 20px;
  max-height: calc(100% - 100px);
  display: block;
  position: relative;
  height: 100%;
  padding-bottom: 100px;
  width: 800px;

  .shopxpert-Feature-setting-data {
    overflow-y: auto;
    height: 100%;
  }

  .shopxpert-admin-footer {
    margin-top: 0;
    padding: 20px;
    border-top: 1px solid #ddd;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    &.has-reset {
      justify-content: space-between;
    }

    .shopxpert-admin-Feature-reset {
      background: #FFFFFF;
      border-color: #E7E7E7;
      color: rgba(109, 113, 117, 0.5);
      font-weight: normal;

      &:hover {
        background-color: rgb(221, 51, 51) !important;
        border-color: rgb(221, 51, 51) !important;
      }
    }
  }

  .shopxpert-admin-option {
    padding: 20px 5px 20px 0;

    &:not(.shopxpert-action-field-left) {
      display: block;
    }

    .shopxpert-admin-option-title {
      margin-top: 0;
    }

    .shopxpert-admin-option-heading-title,
    .shopxpert-admin-option-content,
    .shopxpert-admin-option-action {
      text-align: left;
    }

    &.shopxpert-action-field-left {
      .shopxpert-admin-option-content {
        width: 55%;
      }

      .shopxpert-admin-option-action {
        width: 45%;
      }

      &.shopxpert-dimention-field-left {
        .shopxpert-admin-option-content {
          width: 40%;
        }

        .shopxpert_dimensions li {
          width: 73px;
        }

        .shopxpert-admin-option-action {
          width: 60%;
          padding-left: 10px;
        }
      }
    }

    .shopxpert-admin-option-text {
      margin-top: 0;
    }

    .shopxpert-admin-select select {
      max-width: 100%;
    }

    .icons-selector .selector-popup {
      right: 0;
      left: auto;
    }
  }
}

.Feature-setting-loading {
  animation: loadingspin 2s linear infinite;
}

@keyframes loadingspin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
