*{
    background-color: rgb(242, 255, 0);
}
td.product-name .backorder_notification{
    display: none;
}
td.product-name .shopxpert-backorder-notification.backorder_notification{
    display: block;
}
dt.variation-shopxpert_cart_backorder_availability {
    display: none !important;
}